global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["127.0.0.1:9090"]

  - job_name: blackbox-approved-http
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for target in zt_vis_002_probe_targets %}
          - "{{ target }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
