[Unit]
Description=Lightweight Kubernetes
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=K3S_KUBECONFIG_MODE=600
ExecStart=/usr/local/bin/k3s server --config /etc/rancher/k3s/config.yaml
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
